<div class="container-fluid">
  <div class="row">
    <!-- Split the 40% section into two rows -->
    <div class="col-md-5 section gradient-class">
      <!-- First half of the 40% section -->
      <div class="row">
        <div class="col-md-12">
          <div class="college-name-univer">Career <br />Sparsh</div>
        </div>
      </div>

      <!-- Second half of the 40% section -->
      <div class="row">
        <div class="row">
          <div class="col-md-6">
            <!-- First Column -->
            <span>Menu</span>
            <nav class="col-md-6 d-none d-md-block sidebar">
              <div class="position-sticky">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active textMain" href="#"> Personal Details </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link textMain" href="#"> Detailed Information </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link textMain" href="#"> Word Cloud </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link textMain" href="#"> Career Advice </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link textMain" href="#"> Career Map </a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="col-md-6">
            <span>Sub Menu</span>
            <!-- Second Column -->
            <nav class="col-md-6 d-none d-md-block sidebar">
              <div class="position-sticky">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="#"> Personal Details </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"> Work Experience </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"> Educational Background </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"> Carrer Aspirations </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"> Language Proficiency </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"> Future Plans </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"> Key Takeaways </a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <!-- Second section with 60% width -->
    <div class="col-md-7 section main-section-gradient">
      <h2>Section 2</h2>
      <p>This is the content of section 2.</p>
    </div>
  </div>
</div>
