<div class="frame">
    <div class="div">
      <div class="overlap">
        <div class="rectangle"></div>
        <img class="img" src="https://c.animaapp.com/BzBETPgO/img/rectangle-1.png" />
        <div class="rectangle-2"></div>
        <div class="rectangle-3"></div>
        <div class="college-name-univer">Personal Details</div>
        <div class="text-wrapper">Detailed Information</div>
        <div class="college-name-univer-2">Word Cloud</div>
        <div class="college-name-univer-3">Career Advice</div>
        <div class="college-name-univer-4">Career Map</div>
        <div class="college-name-univer-5">Personal Details</div>
        <div class="college-name-univer-6">Work Experience</div>
        <div class="rectangle-4"></div>
        <div class="college-name-univer-7">Sign Out</div>
        <div class="college-name-univer-8">Educational Background</div>
        <div class="college-name-univer-9">Career Aspirations</div>
        <div class="college-name-univer-10">Language Proficiency</div>
        <div class="college-name-univer-11">Future Plans</div>
        <div class="college-name-univer-12">Key Takeaways</div>
        <div class="college-name-univer-13">Menu</div>
        <div class="rectangle-5"></div>
        <div class="rectangle-6"></div>
        <div class="college-name-univer-14">Sub Menu</div>
        <div class="rectangle-7"></div>
        <div class="flexcontainer">
          <p class="text">
            <span class="span">Career <br /></span>
          </p>
          <p class="text"><span class="span">Sparsh</span></p>
        </div>
        <div class="group">
          <div class="rectangle-8"></div>
          <div class="rectangle-9"></div>
          <div class="rectangle-10"></div>
        </div>
      </div>
      <div class="overlap-group">
        <div class="flexcontainer-2">
          <p class="span-wrapper">
            <span class="text-wrapper-2">Name<br /></span>
          </p>
          <p class="span-wrapper">
            <span class="text-wrapper-3">Satish<br /></span>
          </p>
          <p class="span-wrapper">
            <span class="text-wrapper-2"><br /></span>
          </p>
          <p class="span-wrapper">
            <span class="text-wrapper-2">Residence<br /></span>
          </p>
          <p class="span-wrapper">
            <span class="text-wrapper-3">Kollam, Pallimuk<br /></span>
          </p>
          <p class="span-wrapper">
            <span class="text-wrapper-2"><br /></span>
          </p>
          <p class="span-wrapper">
            <span class="text-wrapper-2">Family: <br /></span>
          </p>
          <p class="span-wrapper">
            <span class="text-wrapper-3">Father, mother, brother, and wife. <br /></span>
          </p>
          <p class="span-wrapper">
            <span class="text-wrapper-3">Satish is the primary earning member of the family. <br /></span>
          </p>
          <p class="span-wrapper">
            <span class="text-wrapper-3"
              >His wife is a degree graduate, and his brother is currently pursuing his degree.</span
            >
          </p>
        </div>
        <div class="college-name-univer-15">Personal Details</div>
      </div>
      <div class="overlap-2">
        <div class="flexcontainer-3">
          <p class="p">
            <span class="text-wrapper-4"
              >Satish currently works as a collection agent and has experience in field work. His current salary is
              6000 rupees with an additional income of 2000 to 9000 rupees. However, he is looking for a job change
              due to the low salary.<br
            /></span>
          </p>
          <p class="p">
            <span class="text-wrapper-4"><br /></span>
          </p>
          <p class="p">
            <span class="text-wrapper-4"
              >He started working as a collection agent for BSNL right after his graduation in 2016 and worked there
              for three years till 2019. Then he switched to Airtel.<br
            /></span>
          </p>
          <p class="p">
            <span class="text-wrapper-4"><br /></span>
          </p>
          <p class="p">
            <span class="text-wrapper-4"
              >Satish currently works as a collection agent and has experience in field work. His current salary is
              6000 rupees with an additional income of 2000 to 9000 rupees. However, he is looking for a job change
              due to the low salary.<br
            /></span>
          </p>
          <p class="p"><span class="text-wrapper-4"></span></p>
        </div>
        <div class="college-name-univer-15">Work Experience</div>
      </div>
      <div class="overlap-3">
        <div class="flexcontainer-3">
          <p class="p">
            <span class="text-wrapper-4"
              >Satish currently works as a collection agent and has experience in field work. His current salary is
              6000 rupees with an additional income of 2000 to 9000 rupees. However, he is looking for a job change
              due to the low salary.<br
            /></span>
          </p>
          <p class="p">
            <span class="text-wrapper-4"><br /></span>
          </p>
          <p class="p">
            <span class="text-wrapper-4"
              >He started working as a collection agent for BSNL right after his graduation in 2016 and worked there
              for three years till 2019. Then he switched to Airtel.<br
            /></span>
          </p>
          <p class="p">
            <span class="text-wrapper-4"><br /></span>
          </p>
          <p class="p">
            <span class="text-wrapper-4"
              >Satish currently works as a collection agent and has experience in field work. His current salary is
              6000 rupees with an additional income of 2000 to 9000 rupees. However, he is looking for a job change
              due to the low salary.<br
            /></span>
          </p>
          <p class="p"><span class="text-wrapper-4"></span></p>
        </div>
        <div class="college-name-univer-16">Educational Background</div>
        <div class="arrow-wrapper"><img class="arrow" src="https://c.animaapp.com/BzBETPgO/img/arrow-1.svg" /></div>
      </div>
      <div class="rectangle-wrapper"><div class="rectangle-11"></div></div>
    </div>
  </div>